// ===============================================================
// App Model: KIDS GAME
// ===============================================================

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default deny
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == "jsj20210104@gmail.com";
    }

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == "jsj20210104@gmail.com" && 
        request.auth.token.email_verified == true
      );
    }

    function incoming() {
      return request.resource.data;
    }

    function existing() {
      return resource.data;
    }

    // --- Statistics ---
    match /stats/{docId} {
      allow get: if true;
      allow create, update: if true; // Let everyone count visits
      allow delete: if isAdmin();
    }

    // --- Game Settings ---
    match /settings/{docId} {
      allow get: if true;
      allow write: if isAdmin();
    }

    // --- Daily Visits ---
    match /visits/{date} {
      allow get: if true;
      allow write: if true;
      match /ips/{ip} {
        allow get, write: if true;
      }
    }
  }
}
